<% title "Campaigns" %>
<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for campaign in @campaigns %>
    <tr>
      <td><%=h campaign.name %></td>
      <td><%= link_to "Show", campaign %></td>
      <td><%= link_to "Edit", edit_campaign_path(campaign) %></td>
      <td><%= link_to "Destroy", campaign, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Campaign", new_campaign_path %></p>
